.monolight{
	font-family: 'DecimaMonoLight';
}
.light{
	font-family: 'DecimaLight';
}

.bold{
	font-family: 'DecimaBold';
}

@font-face {
    font-family:'DecimaMonoLight';
    src: url(./static/decimamono-light-webfont.ttf);
}

@font-face {
    font-family:'DecimaBold';
    src: url(./static/decima-bold-webfont.ttf);
}

body {
  margin: 0;
  padding: 5;
  font-size: 20px;
  font-family: 'DecimaBold', 'DecimaMonoLight', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(bg.png); */
  background-color: #495074;
  color: #dfcfdc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
